<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket</title>
    <script type="text/javascript" src="/websocket.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<h3>hello socket</h3>
	<p>【用户名】：<div><input id="userId" name="userId" type="text" value="10"></div>
	<p>【评论】：<div><input id="contentText" name="contentText" type="text" value="hello websocket"></div>
	<p>操作:<button onclick="openSocket(socketUrl)">开启socket</button>
	<p>【操作】：<button onclick="comment()">发送消息</button>
	<div id="show" name="show">【显示】：</div>
</body>
<script>
	$(document).ready(function(){
		$.get("/comment/getSocketUrl",function(data){
			socketUrl=data;
			console.log(socketUrl);
		});
	});
    
    function handleMessage(messageObject){
    	document.getElementById("show").innerHTML+="<h4>"+messageObject.name+":"+messageObject.content+"</h4>";
    }
	
    function comment(){
    	var messageObject={"name":document.getElementById("userId").value,"content":document.getElementById("contentText").value};
    	sendMessage(messageObject);
    }
    </script>
</html>